# .gitignore
$RECYCLE.BIN/
*$py.class
*,cover
*.7z
*.a
*.aep
*.ai
*.aif
*.app
*.ar
*.avi
*.bak
*.bat
*.bridgesupport
*.btm
*.bz2
*.bzip
*.cab
*.cmd
*.cpio
*.d
*.db
*.deb
*.dll
*.dmg
*.DotSettings
*.DS_Store
*.dSYM/
*.dylib
*.egg
*.egg-info/
*.elf
*.exe
*.exp
*.gch
*.gem
*.gz
*.hex
*.i*86
*.idb
*.ilk
*.indd
*.iso
*.jar
*.ko
*.la
*.lai
*.LBR
*.lbr
*.lib
*.lnk
*.lo
*.log
*.lzma
*.manifest
*.map
*.mar
*.mid
*.midi
*.mo
*.mod
*.mod*
*.mp3
*.msi
*.msm
*.msp
*.o
*.obj
*.orig
*.out
*.pch
*.pdb
*.pdf
*.pot
*.prproj
*.ps
*.psd
*.py[cod]
*.rar
*.rbc
*.rpm
*.shar
*.slo
*.smod
*.so
*.so.*
*.spec
*.stTheme.cache
*.su
*.sublime-project
*.sublime-workspace
*.tar
*.tmlanguage.cache
*.tmp
*.tmPreferences.cache
*.tmproj
*.tmproject
*.wav
*.x86_64
*.xlk
*.xpi
*.xz
*.zip
*.~vsdx
*copy.mus
*~
._*
.apdisk
.apng
.AppleDB
.AppleDesktop
.AppleDouble
.bmp
.cache
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dat*
.dib
.directory
.DocumentRevisions-V100
.dropbox
.dropbox.attr
.dropbox.cache
.eggs/
.env
.fseventsd
.fuse_hidden*
.gif
.hdp
.hypothesis/
.ico
.installed.cfg
.ipynb_checkpoints
.j2k
.jfi
.jfif
.jif
.jp2
.jpe
.jpeg
.jpf
.jpg
.jpm
.jpx
.jxr
.LSOverride
.mj2
.mng
.netrwhist
.nfs*
.pdf
.png
.Python
.python-version
.raw
.repl_history
.ropeproject
.rvmrc
.scrapy
.Spotlight-V100
.spyderproject
.svg
.svgz
.TAGS
.tags
.TemporaryItems
.tif
.tiff
.tox/
.Trash-*
.Trashes
.venv/
.VolumeIcon.icns
.wdp
.webassets-cache
.webp
.xbm
.~lock.*#
/.bundle/
/.config
/.yardoc/
/_yardoc/
/coverage/
/doc/
/InstalledFiles
/lib/bundler/man/
/pkg/
/rdoc/
/spec/examples.txt
/spec/reports/
/test/tmp/
/test/version_tmp/
/tmp/
/vendor/bundle
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
__pycache__/
bh_unicode_properties.cache
build-iPhoneOS/
build-iPhoneSimulator/
build/
celerybeat-schedule
coverage.xml
cscope.files
cscope.in.out
cscope.out
cscope.po.out
Desktop.ini
develop-eggs/
dist/
dkms.conf
docs/_build/
downloads/
eggs/
ehthumbs.db
env/
ENV/
GitHub.sublime-settings
GPATH
GRTAGS
GSYMS
GTAGS
gtags.files
htmlcov/
Icon
instance/
lib/
lib64/
local-patch
local_settings.py
Mkfile.old
Module.symvers
modules.order
Network Trash Folder
nimcache/
nosetests.xml
Package Control.ca-bundle
Package Control.ca-certs/
Package Control.ca-list
Package Control.cache/
Package Control.last-run
Package Control.system-ca-bundle
parts/
patched-src
pip-delete-this-directory.txt
pip-log.txt
sdist/
secring.*
Session.vim
sftp-config.json
tags
TAGS
target/
Temporary Items
Thumbs.db
tmtags
var/
venv/
~$*.doc*
~$*.ppt*
~$*.xls*
!TAGS/
!tags/
